$background-color : #191919 !important;
$component-backgroud-color : #232323 !important;
$text : #b97bf8 !important;
$button : #b97bf8 !important;
$primary-color : #1f1b24 !important;
$secondary-color : #332940 !important;
$error : brown !important;
$success : darkslategrey !important;